<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^([A-Za-z0-9\_\-]+)\/?([A-Za-z0-9\_\-]+)?\/?([A-Za-z0-9\_\-\/]+)?$ index.php?pgfile=$1&subpage=$2&params=$3 [NC,L,QSA]
</IfModule>